@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --icomoon-font-family: "icomoon" !default;
  --icomoon-font-path: "../fonts" !default; */
  --color-hippieGreen: #00cc00;
  --color-black: #000;
  /* --icon-logo: "\e903"; */
  /* --icon-ico-tw: "\e904"; */
  --icon-ico-plus: "\e905";
  /* --icon-ico-minus: "\e906"; */
  /* --icon-ico-inst: "\e907"; */
  --icon-ico-filter: "\e908";
  /* --icon-ico-fb: "\e909"; */
  --icon-ico-cross: "\e90a";
  --icon-ico-arrow-left: "\e90b";
  --icon-ico-arrow-little: "\e90c";
  --icon-ico-arrow-right: "\e90d";
  --icon-ico-arrow-up: "\e90e";
  --icon-ico-arrow-down: "\e90f";
  --icon-ico-arrow-big: "\e910";
  /* --icon-ico-shop-bag: "\e901";
  --icon-ico-user: "\e902";
  --icon-ico-search: "\e900"; */
}

@font-face {
  font-family: "Futura Bk RT";
  font-weight: 400;
  src: local("Futura Bk RT"),
    url(./fonts/futurabkbtrusbyme_book.otf) format("opentype");
}

@font-face {
  font-family: "Futura Bk BT";
  font-weight: 400;
  src: local("Futura"),
    url(./fonts/futuramdbtrusbyme_bold.otf) format("opentype");
}

@font-face {
  font-family: "Futura Md BT";
  font-weight: 400;
  src: local("Futura"),
    url(./fonts/futuramdbtrusbyme_medium.otf) format("opentype");
}

@font-face {
  font-family: "Miama Nueva";
  font-weight: 400;
  src: local("" Miama Nueva ""), url(./fonts/miamanueva.otf) format("opentype");
}

@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.ttf?5b9r9c") format("truetype"),
    url("./fonts/icomoon.woff?5b9r9c") format("woff"),
    url("./fonts/icomoon.svg?5b9r9c#'icomoon'") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
  speak: never;
}

@layer base {
  body {
    font-family: "Futura Bk RT", sans-serif;
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .dark {
    filter: brightness(0.8) contrast(1.5);
  }
}

@layer utilities {

  
  .nav-link {
    font-family: "Futura Bk RT";
  }
  
  
  
  [class^="_icon-"]::before,
  [class*=" _icon-"]::before {
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* ._icon-logo ::before {
    content: var(--icon-logo);
  } */
  
  /* ._icon-ico-tw::before {
    content: "\e904";
    padding: 2px;
    color: var(--color-black);
    font-size: 14px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
  }
  
  ._icon-ico-tw:hover::before,
  ._icon-ico-tw:active::before {
    color: var(--color-hippieGreen);
  }
  
  ._icon-ico-tw:focus::before {
    color: var(--color-hippieGreen);
    border: 2px solid var(--color-hippieGreen);
  } */
  
  ._icon-ico-plus::before {
    content: var(--icon-ico-plus);
  }
  
  ._icon-ico-minus::before {
    content: var(--icon-ico-minus);
  }
  
  /* ._icon-ico-inst::before {
    content: var(--icon-ico-inst);
    color: var(--color-black);
    padding: 2px;
    color: var(--color-black);
    font-size: 15px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
  }
  
  ._icon-ico-inst:hover::before,
  ._icon-ico-inst:active::before {
    color: var(--color-hippieGreen);
  }
  
  ._icon-ico-inst:focus::before {
    color: var(--color-hippieGreen);
    border: 2px solid var(--color-hippieGreen);
  } */
  
  ._icon-ico-filter::before {
    content: var(--icon-ico-filter);
  }
  
  /* ._icon-ico-fb::before {
    content: var(--icon-ico-fb);
    padding: 2px;
    color: var(--color-black);
    font-size: 14px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
  }
  
  ._icon-ico-fb:hover::before,
  ._icon-ico-fb:active::before {
    color: var(--color-hippieGreen);
  }
  
  ._icon-ico-fb:focus::before {
    color: var(--color-hippieGreen);
    border: 2px solid var(--color-hippieGreen);
  } */
  
  ._icon-ico-cross::before {
    content: var(--icon-ico-cross);
  }
  
  ._icon-ico-arrow-left::before {
    content: var(--icon-ico-arrow-left);
  }
  
  ._icon-ico-arrow-little::before {
    content: var(--icon-ico-arrow-little);
    color: #4e7440;
    font-size: 10px;
  }
  
  ._icon-ico-arrow-right::before {
    content: var(--icon-ico-arrow-right);
  }
  
  ._icon-ico-arrow-up::before {
    content: var(--icon-ico-arrow-up);
  }
  
  ._icon-ico-arrow-down::before {
    content: var(--icon-ico-arrow-down);
  }
  
  ._icon-ico-arrow-big::before {
    content: var(--icon-ico-arrow-big);
  }
  
  /* ._icon-ico-shop-bag::before {
    content: var(--icon-ico-shop-bag);
    font-size: 22px;
    padding: 2px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
  }
  
  ._icon-ico-shop-bag:hover::before,
  ._icon-ico-shop-bag:active::before {
    color: var(--color-hippieGreen);
    border-bottom: 2px solid var(--color-hippieGreen);
  }
  
  ._icon-ico-shop-bag:focus::before {
    color: var(--color-hippieGreen);
    border: 2px solid var(--color-black);
  }
  ._icon-ico-user,
  ._icon-ico-search,
  ._icon-ico-shop-bag {
    border: none;
    background: transparent;
  } */
  
  /* ._icon-ico-shop-bag {
    position: relative;
  }
  .shop-bag--quantity {
    position: absolute;
    right: 12px;
  } */
  
  /* ._icon-ico-user::before {
    content: var(--icon-ico-user);
    font-size: 24px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
  }
  
  ._icon-ico-user:hover::before {
    color: var(--color-hippieGreen);
    border-bottom: 2px solid var(--color-hippieGreen);
  }
  
  ._icon-ico-user:focus::before {
    border: 2px solid var(--color-black);
  }
  
  ._icon-ico-search::before {
    content: var(--icon-ico-search);
    font-size: 18px;
    padding: 2px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
  }
  
  ._icon-ico-search:hover::before {
    color: var(--color-hippieGreen);
    border-bottom: 2px solid var(--color-hippieGreen);
  }
  
  ._icon-ico-search:focus::before {
    border: 2px solid var(--color-black);
  } */
  
  .nav-link a {
    padding: 2px;
    /* border: 2px solid rgba(0, 0, 0, 0); */
    transition: 0.3s;
  }
  
  .nav-link a:hover {
    color: var(--color-hippieGreen);
    /* border-bottom: 2px solid var(--color-hippieGreen); */
  }
  
  .active-link {
    color: var(--color-hippieGreen);
    /* border-bottom: 2px solid var(--color-hippieGreen) !important; */
  }
}




